<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          required
          [(ngModel)]="user.name"
          name="firstName"
        />
      </div>

      <!-- <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          required
          [(ngModel)]="user.first_name"
          name="lastName"
        />
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="user.email"
          name="email"
        />
      </div> -->

      <div class="form-group">
        <label for="job">Job:</label>
        <input
          class="form-control"
          id="job"
          required
          [(ngModel)]="user.job"
          name="job"
        />
      </div>

      <button (click)="saveUser()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>User submitted successfully!</h4>
      <button class="btn btn-success" (click)="newUser()">Add</button>
    </div>
  </div>
</div>